@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family-body: var(--font-geist-sans), system-ui, -apple-system, sans-serif;
  --font-family-mono: var(--font-geist-mono), ui-monospace, monospace;
}

.dark {
  --background: #1e1e1e;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-lora);

  --dark-mode: selector;
  --dark-mode-selector: .dark;
}

body {
  background: var(--background);
  color: var(--foreground);
}
